/* FONTES */
@font-face {
    font-family: 'PS';
    src: url('../assets/fonts/Prostest_Strike/ProtestStrike-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* FONTES */
@font-face {
    font-family: 'mont';
    src: url('../assets/fonts/MontSerrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.divEight {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: black;
}

.title {
    position: relative;
    color: #FFD96A; /* amarelo mais forte */
    font-size: 300px;
    font-weight: bold;
    font-family: 'PS', Arial, Helvetica, sans-serif;
    margin: 0;
    left: 200px;
  
    /* Contorno preto com várias sombras */
    text-shadow:
      -4px -4px 0 #000,
      4px -4px 0 #000,
      -4px 4px 0 #000,
      4px 4px 0 #000,
      0px 4px 0 #000,
      4px 0px 0 #000,
      -4px 0px 0 #000,
      0px -4px 0 #000;
  }

.img8 {
    width: 660px;
    left: 68%;
    top: 735%;
    position: absolute;
    z-index: 10;
}

.eight {
    position: relative;
    left: 70%;
    top: 600px;
}

.small-circle {
    position: relative;
    top: 50px;
    margin-top: 200px;
    margin-bottom: 0;
    background-color: #FFD96A;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    border: 6px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    z-index: 3;
    transform: rotate(-20deg); 
}

.small-circle2 {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 6px solid black;
    position: relative;
}

.big-circle {
    z-index: 2;
    position: relative;
    left: 75px;
    background-color: #FFD96A;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid black;
}



.desc {
    font-family: 'mont', Arial, Helvetica, sans-serif;
    font-size: 38px;
}

#first {
    width: 65%;
    position: relative;
    top: 100px;
    margin-left: 50px;
}

#second {
    width: 65%;
    position: relative;
    top: -100px;
    left: 30%;
    font-size: 40px;
}

.img {
    width: 400px;
}

#img1 {
    position: relative;
    top: 320px;
    left: 100px;
}

#img2 {
    position: relative;
    bottom: 490px;
    left: 100px;
}   

.logo {
    width: 125px;
    position: relative;
    right: 300px;
    bottom: 100px;
}

