/* FONTES */
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/MontSerrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MSBold';
    src: url('../assets/fonts/MontSerrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.card {
    background: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);
    width: 300px;
    height: 450px;
    max-width: 300px;
    min-width: 300px;
    border-radius: 20px;
}


.card:last-child {
    margin-right: 100px;
}

.card-img {
    border-radius: 32px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}


.card-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    font-size: 28px;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.card-description {
    margin-left: 10%;
    color: #373737;
    font-size: 14px;
    font-family: 'Jost';
}

.old-price {
    text-decoration: line-through;
    position: relative;
    top: 10px;
    margin-left: 100px;
    font-size: 18px;
    color: red;
    font-family: 'Jost';
}

.new-price {
    position: relative;
    top: 10px;
    margin-left: 18px;
    color: #008F2B;
    font-family: 'Jost';
}

.card-button {
    position: relative;
    top: 20px;
    margin-left: 90px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to right, #008F2B 0%, #00AC34 100%);
    border: none;
    color: white;
    font-family: 'MSBold', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    transition: transform 0.25s ease-in-out;
}

.card-button:hover {
    transform: scale(1.05);
}