/*------------------------- HEADER ----------------------------*/
header {
    width: 100%;
    height: 60px;
    font-weight: 500;
    background-color: #373737;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
/*------------------------- LOGO ----------------------------*/
  header h2 {
    margin-left: 40px;
    font-size: 24px;
    color: #00ff66;
  }
  
/*------------------------- MENU ----------------------------*/
  nav {
    margin-left: 100px;
}

nav ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    font-family: 'tr',Arial, Helvetica, sans-serif;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 8px;
    list-style: none;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background-color 0.3s;
}

nav ul li:hover {
    background-color: #59fa88; 
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: black;
}