/* FONTES */
@font-face {
    font-family: 'spa';
    src: url('../assets/fonts/League_Spartan/LeagueSpartan-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cardProd {
  --bg: #ffffff;
  --title-color: #fff;
  --title-color-hover: #000;
  --text-color: #666;
  --button-color: #eee;
  --button-color-hover: #ddd;
  background: var(--bg);
  border-radius: 2rem;
  padding: 0.5rem;
  width: 18rem;
  height: 28rem;
  overflow: clip;
  position: relative;
  font-family: 'spa', Helvetica, Arial, sans-serif;

  &.dark {
    --bg: #222;
    --title-color: #fff;
    --title-color-hover: #fff;
    --text-color: #ccc;
    --button-color: #555;
    --button-color-hover: #444;
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    height: 30%;
    bottom: 0.5rem;
    left: 0.5rem;
    mask: linear-gradient(#0000, #000f 80%);
    backdrop-filter: blur(1rem);
    border-radius: 0 0 1.5rem 1.5rem;
    translate: 0 0;
    transition: translate 0.25s;
  }

  > img {
    max-width: 100%;
    aspect-ratio: 2.4 / 3;
    object-fit: cover;
    object-position: 50% 5%;
    border-radius: 1.5rem;
    display: block;
    transition: aspect-ratio 0.25s, object-position 0.5s;
    /* firefox patch */
    width: 100%;
    height: auto;
  }

  > section {
    margin: 1rem;
    height: calc(33.3333% - 1rem);
    display: flex;
    flex-direction: column;

    .titleCard {
      margin: 0;
      margin-block-end: 1rem;
      font-size: 1rem;
      translate: 0 -100%;
      opacity:1;
      color: rgb(22, 22, 22);
      transition: color 0.5s, margin-block-end 0.25s, opacity 1s, translate 0.25s;
    }

    .priceCard {
      margin: 0;
      margin-block-end: 1rem;
      font-size: 1.5rem;
      translate: 0 -100%;
      text-align: right;
      opacity:1;
      color: rgb(0, 172, 0);
      transition: color 0.5s, margin-block-end 0.25s, opacity 1s, translate 0.25s;
    }

    .headerCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.cartButton {
    width: 100%;
    padding: 0.8rem;
    background-color: rgb(1, 182, 1);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    /* animação igual ao <p> */
    opacity: 0;
    translate: 0 100%;
    transition: 
        background 0.25s,
        opacity 1s 0.2s,
        translate 0.25s 0.2s;
}

.cartButton:hover {
    background-color: rgb(1, 150, 1);
}



    p {
      font-size: 0.95rem;
      line-height: 1.3;
      color: var(--text-color);
      opacity: 0;
      margin: 0;
      translate: 0 100%;
      transition: margin-block-end 0.25s, opacity 1s 0.2s, translate 0.25s 0.2s;
    }

    > div {
    flex: 1;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    translate: 0 100%; /* corrigido */
    transition: translate 0.25s 0.2s, opacity 1s 0.2s;
    }
  }

  &:hover, &:focus-within {
    &::before {
      translate: 0 100%;
    }


    > img {
      aspect-ratio: 1 / 1;
      object-position: 50% top;
      
      transition: aspect-ratio 0.25s, object-position 0.25s;
    }

    > section {
      h2, p, button {
        translate: 0 0;
        margin-block-end: 0.5rem;
        opacity: 1;
      }

      .titleCard {
        color: var(--title-color-hover);
      }

      > div {
        translate: 0 0;
        opacity: 1;
        transition: translate 0.25s 0.25s, opacity 0.5s 0.25s;
      }
    }
  }
}