/* FONTES */
@font-face {
  font-family: 'sp';
  src: url('../../assets/fonts/League_Spartan/LeagueSpartan-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spa';
  src: url('../../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mont';
  src: url('../../assets/fonts/MontSerrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'norms';
  src: url('../../assets/fonts/tt-norms/TTNorms-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.campanha-section {
    background: linear-gradient(to bottom, #004aad, #000000 20%);
}

.campanha-desc {
    font-family: 'sp',Arial, Helvetica, sans-serif;
    width: 80%;
    margin-left: 10%;
    color: white;
}

.campanha-desc img{
    width: 100%;
}

.campH3 {
    padding-top: 100px;
    font-size: 2rem;
}

.campH2 {
    padding-top: 30px;
    font-size: 6rem;
}

.campP {
    padding-top: 50px;
    font-family: 'spa',Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.section-video {
    margin-left: 5%;
    width: 90%;
    color: white;
    font-size: 'spa',Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    text-align: right;
}

.camMP4 {
    margin-top: 50px;
    background-color: rgb(29, 59, 150);
    width: 100%;
    height: 80vh;
    border: none;
}

.camTitle {
    margin-top: 200px;
    margin-left: 65%;
    width: 30%;
    text-align: right;
    font-size: 4rem;
    color: white;
    font-family: 'sp',Arial, Helvetica, sans-serif;
}

.camTitle h2{
    margin-top: 75px;
}

.camTitle hr {
    background-color: white;
    height: 6px;
}

.text-athlete {
    margin-left: 10%;
    margin-top: 50px;
    text-align: justify;
    width: 80%;
    font-family: 'mont', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
}

.h3-athlete {
    margin-top: 100px;
    margin-left: 7.5%;
    color: white;
    font-family: 'spa',Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.img-athlete {
    margin-top: 200px;
    width: 75%;
}

.h3-athleteR {
    margin-top: 100px;
    margin-right: 7.5%;
    text-align: right;
    color: white;
    font-family: 'spa',Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.img-athleteR {
    margin-top: 200px;
    margin-left: 20%;
    width: 80%;
}

.img-athlete3 {
    margin-top: 200px;
    width: 80%;
}

.Lhr {
    margin-top: 200px;
    margin-left: 65%;
    width: 30%;
    background-color: white;
    height: 6px;
}

.donate {
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: row;
}

.donateMP4{
    margin-left: 10%;
}

.donate h3{
    width: 90%;
    margin-left: 20%;
    font-family: 'spa', Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
}

.donate p{
    line-height: 1.5;
    margin-top: 50px;
    margin-left: 20%;
    width: 80%;
    font-size: 2.5rem;
    text-align: justify;
    font-family: 'mont', Arial, Helvetica, sans-serif;
}

.text-donate {
    width: 60%;
}

.Doar {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 20%;
    border-radius: 40px;
    width: 30%;
    height: 7.5%;
    font-size: 1.75rem;
    background-color: white;
    color: #0a0a0a;
    font-family: 'norms', Arial, Helvetica, sans-serif;
}